<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>班主任点赞</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="page-header">
                    <h1>
                        班主任点赞
                        <small>为喜欢的班主任点赞</small>
                    </h1>
                </div>

                <div class="row clearfix">
                    <div class="col-md-8 column">
                        <div class="row clearfix">
                            <div class="col-md-12 column">
                                <div class="page-header">
                                    <h2>
                                        留言板
                                    </h2>
                                </div>
                                <!--遮罩窗体-->
                                <div style="margin-bottom: 20px">
                                    <a id="modal-1" href="#modal-container-1" role="button" class="btn btn-danger btn-block" data-toggle="modal">
                                        <span class="glyphicon glyphicon-comment"></span>
                                        &nbsp;&nbsp;踩一下
                                    </a>
                                    <div class="modal fade" id="modal-container-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <form role="form" th:action="@{/student/write}">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                        <h4 class="modal-title" id="myModalLabel" style="color: crimson">
                                                            留言板
                                                        </h4>
                                                    </div>
                                                    <div class="modal-body" style="font-size: 15px">
                                                        <div class="form-group">
                                                            <label >学号</label>
                                                            <input type="number" class="form-control" name="studentId"/>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>留言</label>
                                                            <textarea class="form-control" rows="5" placeholder="请输入留言内容……" name="note"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer form-group">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                        <button type="submit" class="btn btn-primary">提交</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--留言面板-->
                                <div th:each="message:${pageList.list}" th:object="${message}">
                                    <div class="panel panel-primary">
                                        <div class="panel-body">
                                            <h3 style="color: orange" th:text="*{studentId}"></h3>
                                            <p th:text="*{note}"></p>
                                            <p style="color: steelblue" th:text="*{messageTime}"></p>
                                        </div>
                                    </div>
                                </div>

                                <!--分页-->
                                <div class="pagination" th:replace="pagination::pagination"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 column" style="margin-top: 50px">
                        <div class="row clearfix">
                            <!--表单-->
                            <div class="col-md-12 column">
                                <form role="form" th:action="@{/student/submit}">
                                    <!--<div class="form-group">
                                        <label>班级编号</label>
                                        <input type="number" class="form-control" name="classId"/>
                                    </div>-->
                                    <div class="form-group">
                                        <label>学生学号</label>
                                        <input type="number" class="form-control" name="studentId"/>
                                    </div>
                                    <div class="form-group">
                                        <label>班主任</label>
                                        <select class="form-control" name="classTeacher">
                                            <div th:each="teacher:${teacherList}">
                                                <option th:text="${teacher}" th:value="${teacher}"></option>
                                            </div>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>为他点赞</label>
                                        <!--点赞选项框-->
                                        <div class="col-sm-12" style="margin: 0 0 20px 0">
                                            <!--点赞图标-->
                                            <div class="col-sm-2" th:each="index:${#numbers.sequence(1,5)}">
                                                <label class="glyphicon glyphicon-heart" style="color: crimson"></label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="praiseScore" th:id="${index}" th:value="${index}" th:text="${index}" th:checked="${index} == 5">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-top: 30px">
                                        <button type="submit" class="btn btn-success btn-block">提交点赞</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
