<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.togogo.praise.mapper.TTeacherMapper">
  <resultMap id="BaseResultMap" type="net.togogo.praise.entity.TTeacher">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="teacher_id" jdbcType="INTEGER" property="teacherId" />
    <result column="teacher_name" jdbcType="VARCHAR" property="teacherName" />
    <result column="teacher_account" jdbcType="VARCHAR" property="teacherAccount" />
    <result column="teacher_password" jdbcType="VARCHAR" property="teacherPassword" />
    <result column="teacher_score" jdbcType="VARCHAR" property="teacherScore" />
  </resultMap>
</mapper>